body{
    background-color: #800020;
}

body div{
    color: #D09306;
}

nav{
    background-color: #D09306;
    display: flex;
    justify-content: space-between;
}

#titulo{
    color: #800020;
}

#logo{
    height: 100px;
    width: 100px;
}

#imglogin{
    height: 100px;
    width: 100px;
}

div{
    display: flex;
}

.tarjetarestaurante{
    display: flex;
    justify-content: space-around;
}

.textorestaurantes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headyfooter{
    color: #800020;
}

.aresenyalo{
    color: #D09306;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #D09306;
    color: #800020;
}

.imgrestaurantes{
    height: 200px;
    width: 300px;
}