body {
    background-color: #800020;
    color: #D09306;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #D09306;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-left {
    display: flex;
    align-items: center;
}

#logo {
    height: 80px;
    margin-right: 10px;
}

#titulo {
    color: #800020;
    font-size: 24px;
}

.nav-right {
    display: flex;
    align-items: center;
}

#imglogin {
    height: 50px;
    margin-left: 10px;
}

div.login{
    display: flex;
}

img{
    margin-top: 2%;
}


h1 {
    font-size: 40px;
    margin: 2%;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.texto {
    max-width: 40%;
    text-align: justify;
    font-size: 25px;
    margin: 2%;
}

.img1 {
    width: 80%;
    margin: 2%;
    margin-right: 20%;
}

li {
    font-size: 25px;
    color: #D09306;
}

li a {
    color: #D09306
}

.mapouter {
    margin: 2%;

}

.btn {
    background-color: #D09306;
    color: #800020;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    display: inline-block;
}

a .headyfooter{
    color: #800020;
    
}

a{
    color: #D09306;
    text-decoration: none;
}
a{
    border-style: solid;
    border-width: 2px;
    padding: 3px;
    border-radius: 5px;
}

.copyright {
    display: flex;
    align-items: center;
    color: #800020;
    margin: 1%;
}

.headyfooter {
    display: flex;
    align-items: center;
    color: #800020;
}

footer {
    background-color: #D09306;
    display: flex;
    justify-content: center;
    align-items: column;
    padding: 10px 20px;
    margin-top: 20px;

}
